body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

nav.navbar {
    background-color: #333;
    padding: 10px;
}

nav .menu-icon {
    cursor: pointer;
    color: #fff;
}

nav .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav .menu li {
    display: block;
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.profile-picture {
    border-radius: 50%;
    margin-right: 10px;
}

.header-content {
    flex: 1;
}

header h1 {
    margin: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}